<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.terraplanet.terraplanet">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TerraPlanet">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TerraPlanet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.InitActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screen.InitWalletActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screen.ImportWalletActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screen.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screen.CameraActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>